<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form method="POST" v-on:submit.prevent="login">
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" v-bind:class="{'is-invalid' : errors.email}" v-model="email" value="" required autocomplete="email" autofocus>
                                    <span class="invalid-feedback" role="alert" v-if="errors.email">
                                        <strong>{{ errors.email }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" v-model="password" required autocomplete="current-password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" v-model="remember" id="remember" >

                                        <label class="form-check-label" for="remember">
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary" :disabled="loading">
                                        Login
                                    </button>

                                    <a class="btn btn-link" href="#">
                                            Forgot Your Password
                                        </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    data: function(){
        return {
            email: '',
            password: '',
            remember: false
        }
    },
    mounted() {
        console.log('Component mounted.')
    },
    computed: {
        ...mapGetters(["loading","errors","authenticated"]),
    },
    methods: {
        async login(){
            const credential = {
                email: this.email,
                password: this.password,
                remember: this.remember
            };
            await this.$store.dispatch("signIn", credential)
        }
    }
}
</script>
