<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                        <form v-on:submit.prevent="register" v-if="!user.message">

                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                                <div class="col-md-6">
                                    <input id="name" type="text" class="form-control" v-bind:class="{'is-invalid' : errors.name}" v-model="name" required autocomplete="name" autofocus>
                                    <span class="invalid-feedback" role="alert" v-if="errors.name">
                                        <strong>{{ errors.name[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address}</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control " v-bind:class="{'is-invalid' : errors.email}" v-model="email" value="" required autocomplete="email">
                                    <span class="invalid-feedback" role="alert" v-if="errors.email">
                                        <strong>{{ errors.email[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" v-bind:class="{'is-invalid' : errors.password}" v-model="password" required autocomplete="new-password">
                                    <span class="invalid-feedback" role="alert" v-if="errors.password">
                                        <strong>{{ errors.password[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                                <div class="col-md-6">
                                    <input id="password-confirm" type="password" class="form-control" v-bind:class="{'is-invalid' : errors.password_confirmation}" v-model="password_confirmation" required autocomplete="new-password">
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary" :disabled="loading">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="alert alert-success" v-else>
                            {{ user.message }}
                            <br>
                            <router-link to="login">Login</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    data: function(){
        return {
            name: '',
            email: '',
            password: '',
            password_confirmation: '',
        }
    },
    mounted() {
        console.log('Component mounted.')
    },
    methods: {
        register(){
            const credential = {
                name: this.name,
                email: this.email,
                password: this.password,
                password_confirmation: this.password_confirmation
            };
            this.$store.dispatch("register", credential)
        }
    },
    computed: {
        ...mapGetters(["errors","loading","message","user"]),
    }
}
</script>
